extends ../layout
block content 
    h1 New Route 
    form(action="/route", method="post") 
        label.form__label(for="location") Location 
        input.form__input(type="text", name="location")

        label.form__label(for="elevationGain") Elevation Gain (mts)
        input.form__input(type="text", name="elevationGain" )

        label.form__label(for="durationMins") Duration (min)
        input.form__input(type="text", name="durationMins" )

        label.form__label(for="distance") Distance (Kms)
        input.form__input(id="distance" type="text" name="distance" )
        
        label.form__label(for="difficulty") Difficulty
        select.form__input(name="difficulty" ) 
            each difficulty in difficulties
                option(value=difficulty selected=difficulty==="easy") #{difficulty} 

        label.form__label(for="terrainType") Terrain Type 
        select.form__input(name="terrainType") 
            each terrain in terrains 
                option(value=terrain selected=(terrain==="Forest")) #{terrain}
        button.form__button Submit