extends ../layout
block content 
    h1 Edit Route 
    form(action=`/route/${route.idRoute}`, method="post") 
        label.form__label(for="name") Location 
        input.form__input(type="text", name="location" value=route.location)

        label.form__label(for="elevationGain") Elevation Gain 
        input.form__input(type="text", name="elevationGain" value=route.elevationGain)

        label.form__label(for="durationMins") Duration 
        input.form__input(type="text", name="durationMins" value=route.durationMins)

        label.form__label(for="distance") Distance 
        input.form__input(id="distance" type="text" name="distance" value=route.distance)
        
        label.form__label(for="difficulty") Difficulty
        select.form__input(name="difficulty" ) 
            each difficulty in difficulties
                option(value=difficulty selected=route.difficulty===difficulty) #{difficulty.charAt(0).toUpperCase() + difficulty.slice(1)} 

        label.form__label(for="terrainType") Terrain Type 
        select.form__input(name="terrainType") 
            each terrain in terrains 
                option(value=terrain selected=(route.terrainType===terrain)) #{terrain.charAt(0).toUpperCase() + terrain.slice(1)}
        button.form__button Submit