article 
    h2.card__data 
        | Name: 
        span.card_value= member.name
    p.card__data 
        | Email: 
        span.card_value= member.email 
    p.card__data
        | is Administrator: 
        span.card_value= (member.isAdmin ? "Yes" : "No")
    p.card_data 
        | Have first aid knowledge: 
        span.card_value= (member.firstAid ? "Yes" : "No")
    a(href=`/member/${member.idMember}/edit`)
        button Edit
    form(action=`/member/${member.idMember}/delete`, method="post") 
        button Delete

    
