html
  head
    title Routend
    block styles
  body
    p DEBUG: isLoggedIn=#{isLoggedIn}, Name=#{name}, isAdmin=#{isAdmin}
    include navbar.pug

    if error 
      p.error= error
    if message
      p.message= message
    block content
    #footer
      p (c) Routend Group Ltd. 2025