header
    p DEBUG: isLoggedIn=#{isLoggedIn}, Name=#{name}, isAdmin=#{isAdmin}
    nav
        ul 
            li 
                a(href="/") Home 
            li
                a(href="/route") Routes 
            li 
                a(href="/trip") Trips
            li 
                a(href="/photos") Photos
            li 
                a(href="/reviews") Reviews
            if !isLoggedIn
                li 
                    a(href="/auth/register") Be a member
                li
                    a(href="/auth/login") Sing in
            else
                li
                    span #{name} 
                    span #{isAdmin}
                li 
                    a(href="/auth/logout") Logout