article 
    h2.card__data 
        | Location: 
        span.card_value= route.location
    p.card__data 
        | Difficulty: 
        span.card_value= route.difficulty 
    p.card__data 
        | Distance: 
        span.card_value= route.distance
        | Kms
    p.card__data
        | Elevation Gain: 
        span.card_value= route.elevationGain
        | m
    p.card_data 
        | Duration: 
        span.card_value= route.durationMins
        | min
    p.card_data 
        | Terrain type: 
        span.card_value= route.terrainType
    if (isLoggedIn && isAdmin)
        a(href=`/route/${route.idRoute}/edit`)
            button Edit
        form(action=`/route/${route.idRoute}/delete`, method="post", onsubmit="return confirm('Are you sure you want to delete this route?');") 
            button Delete

    
