extends ../layout
block content 
    h1 Edit Trip 
    form(action=`/trip/${trip.idTrip}`, method="post") 
        label.form__label(for="idRoute") Route
        select.form__input(name="idRoute") 
            each route in routes
                option(value=route.idRoute selected=trip.idRoute===route.idRoute) #{route.location} 

        label.form__label(for="Time") Trip Date Time 
        input.form__input(type="date", name="Time" value=trip.Time)

        label.form__label(for="meetingPoint") Meeting Point
        input.form__input(type="text", name="meetingPoint" value=trip.meetingPoint)

        label.form__label(for="idGuide") Guide
        select.form__input(name="idGuide" ) 
            each guide in guides
                option(value=guide.idMember selected=trip.idGuide===guide.idMember) #{guide.name} 

        label.form__label(for="weather") Weather 
        select.form__input(name="weather") 
            each weather in weathers 
                option(value=weather selected=trip.weather===weather) #{weather}
        button.form__button Submit


    